@font-face {
    font-family: "IBM Plex Mono";
    src: url('./fonts/IBMPlexMono-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url('./fonts/IBMPlexMono-Bold.ttf');
    font-weight: 700;
}

.maincon {
    margin: 0 auto;
    max-width: max-content;
    position: relative;
}

.header {
    position: relative;
    width: 1024px;
    height: 768px;
    background-image: url(img/svg/cover-image-dark.jpg);
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.navigation button {
    font-family: "IBM Plex Mono";
    font-size: 18px;
    color: #FF0070;
    border: none;
    background-color: transparent;
    padding: 0 13px;
    display: block;
}

.navigation button:hover {
    cursor: pointer;
    border: 1px solid #FF0070;
}

.boom {
    border: 1px solid #FF0070 !important;
}

.boom {
    position: relative;
}

.heading {
    width: 759px;
    height: 130px;
    flex-shrink: 0;
}

h1 {
    color: #DB00FF;
    text-shadow: 4px 4px 0px #FF0070;
    font-family: "IBM Plex Mono";
    font-size: 157px;
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%; /* 129.525px */
    position: absolute;
    top: 319px;
    margin: 0;
}


.background {
    position: relative;
    width: 1024px;
    height: 768px;
    background: url(../img/svg/cover-image-dark.jpg);
    background-size: 1229px 768px;
    background-position-x: -102;
}

.bebr {
    display: flex;
    position: absolute;
    top: 563px;
    left: 513px;
    background-color:#FF0070;
    width: 491px;
    height: 71px;
    margin: 0;
    top: 563px;
}
p { 
    color:#000028;
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: left;
} 

.rectangle1 {
    position: absolute;
    border-bottom: 1px solid #ff0070;
    border-left: 1px solid #ff0070;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 723px;
}

.rectangle2 {
    position: absolute;
    border-right: 1px solid #ff0070;
    border-top: 1px solid #ff0070;
    width: 25px;
    height: 25px;
    left: 979px;
    top: 20px;
}

.obama {
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;

}



